<!DOCTYPE>
<html>
<head>
</head>
<body>
<center>
<form action="msg" autocomplete="on" method="post" enctype="multipart/form-data">
PID:<input type="number" name = "pid" placeholder="Enter id"><br>
FIRSTNAME:<input type="text" name = "firstname" placeholder="Enter name"><br>
LASTNAME:<input type="text" name = "lastname" placeholder="enter name"><br>
ADDRESS:<input type="text" name = "address" placeholder="enter address"><br>
EMAIL:<input type="email" name = "email" placeholder="enter name"><br>
PHONE:<input type="tel" name = "phone" placeholder="enter name" min="10" maxlength="10"><br>
AADHAR:<input type="text" name = "adhar" placeholder="enter adharnumber" min="16" maxlength="16" ><br>
Photo:<input type="file" name="pic">
<button name="submit">ADD EMPLOYEE</button>
</form>
</center>
</body>

</html>
