<!DOCTYPE html>
<html>
<head>
</head>
<body>
<form action="gla" autocomplete="on">
PetrolPump Name <input type="text" name="Name" placeholder="Name"><br>
Address <input type="text" name="Address" placeholder="Address"><br>
City <input type="text" name="City" placeholder="City"><br>
Pincode <input type="text" name="Pincode" placeholder="Pincode"><br>
Registration <input type="text" name="Registration" placeholder="Registration"><br>
E-mail <input type="text" name="mail" placeholder="mail"><br>
Phone <input type="text" name="Phone" placeholder="Phone"><br>
State <input type="text" name="State" placeholder="State"><br>
<input type="submit" value="Submit">
</form>
</body>
</html>